{% extends 'base.html.twig' %}
{% block title %}Edit Category | {{ parent() }}{% endblock %}
{% block body %}
    <h1 class="text-3xl font-bold text-gray-900 mb-6">Edit Category</h1>
    <div class="bg-white rounded-lg shadow-xl p-8">
        {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
